<style>
  .asd{
    text-align: center
  }
</style>

<div class="container">
  <div class="row" style="margin-top: 60px">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
        <div class="asd" style="text-align: center">
          <h2>Döküman Ekle</h2>
        </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-12" style="text-align: center">
          <label style="margin-right: 35px"  for="">Başlık →</label> <input style="width: 300px" type="text"><br>
          <label style="margin-right: 7px"  for="">Video Linki →</label> <input style="width: 300px" type="text"><br>
          <button class=" btn btn-primary mt-2" style="width: 390px" > Galeriden Resim Seç </button>
          <div class="mt-2">
            <label style="margin-right: 35px"> Görünebilirlilik → </label> <label style="margin-right: 29px" class="radio-inline"><input type="radio" name="optradio" checked>Görünebilir</label>
            <label class="radio-inline"><input type="radio" name="optradio">Görünemez</label>
          </div>
      </div>
      </div>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"><hr></div>
        <div class="col-md-4"></div>
      </div>
      
      <div class="row mt-3">
        <div class="col-md-12" style="text-align: center">
          <div>
        <button style="margin-right: 100px" class="btn btn-primary">
          <a href="/ogr" style="color:#fff; text-decoration: none">Geri Çık</a>
        </button>
        
        <button style="margin-left: 100px" class="btn btn-primary">Döküman Ekle</button>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
