<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            
          <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Yeni Sınıf
              </button>
              
              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Yeni Sınıf</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <label style="margin-right: 10px"  for="">Sınıf Kodu →</label> <input style="width: 300px" type="number" value=""><br>
            
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Geri Çık</button>
                      <button type="button" class="btn btn-primary">Sınıfa Gir</button>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row mt-5" style="background-color: #333; color:#fff;border-radius: 255px 25px 225px 25px/25px 225px 25px 255px; height: 50px ">
                <div class="col-md-2">
                    <div style="margin-top: 4px">
                            <button class="btn btn-primary">
                                    <b>  1132 Sınıfı</b>
                               </button> </div>
                    </div>
                <div class="col-md-2">
                    <div style="margin-top:4px">
                            <button class="btn btn-primary">
                                    <b>  1121 Sınıfı</b>
                               </button> 
                    </div>
                </div>
                <div class="col-md-2">
                        <div style="margin-top:4px">
                                <button class="btn btn-primary">
                                        <b>  1129 Sınıfı</b>
                                   </button> 
                        </div>
                </div>
                <div class="col-md-2">
                        <div style="margin-top:4px">
                             <button class="btn btn-primary">
                                  <b>  1131 Sınıfı</b>
                             </button> 
                        </div>
                </div>
                <div class="col-md-2">
                        <div style="margin-top:4px">
                                <button class="btn btn-primary">
                                        <b>  1142 Sınıfı</b>
                                   </button> 
                        </div>
                </div>
                <div class="col-md-2"> <div style="margin-top:4px">
                        <button class="btn btn-primary">
                                <b>  1139 Sınıfı</b>
                           </button> 
                </div></div>
            </div>
        </div>
    </div>
    <div  id="sayfalar" class="row mt-2">
        
            <div id="sayfa" class="col-md-12" style="background-color:rgb(114, 194, 247);border-radius: 255px 25px 225px 25px/25px 225px 25px 255px; width: 100%;height: 500px;">
               
                <div style="margin-top:20px; margin-left:25px">
                                <div class="row">
                                                <div class="col-md-12" style="text-align: center">
                                                  <div class="ill"> <h2>1132 Sınıfı </h2></div>
                                                 
                                                </div>
                                              </div>
                        
                        <div class="row mt-5">
                           Dökümanlar Burada Görüntülenecek
                         </div>
                </div>
            
                </div>
                <div id="sayfa" class="col-md-12" style="background-color:rgb(114, 194, 247);border-radius: 255px 25px 225px 25px/25px 225px 25px 255px; width: 100%;height: 500px; display:none">
               
                      
                <div style="margin-top:20px; margin-left:25px">
                                <div class="row">
                                                <div class="col-md-12" style="text-align: center">
                                                  <div class="ill"> <h2>1121 Sınıfı </h2></div>
                                                 
                                                </div>
                                              </div>
                        <div class="row mt-5">
                            Dökümanlar Burada Görüntülenecek.
                        </div>
                </div>
            
                   
                
                    </div>
                    <div id="sayfa" class="col-md-12" style="background-color:rgb(114, 194, 247);border-radius: 255px 25px 225px 25px/25px 225px 25px 255px; width: 100%;height: 500px; display:none">
               
                            
                <div style="margin-top:20px; margin-left:25px">
                                <div class="row">
                                                <div class="col-md-12" style="text-align: center">
                                                  <div class="ill"> <h2>1129Sınıfı </h2></div>
                                                 
                                                </div>
                                              </div>
                        <div class="row mt-5">
                            Dökümanlar Burada Görüntülenecek.
                        </div>
                </div>
            
                    
                        </div>
                        <div id="sayfa" class="col-md-12" style="background-color:rgb(114, 194, 247);border-radius: 255px 25px 225px 25px/25px 225px 25px 255px; width: 100%;height: 500px; display:none">
               
                            <div style="margin-top:20px">
                                       
                <div style="margin-top:20px; margin-left:25px">
                                <div class="row">
                                                <div class="col-md-12" style="text-align: center">
                                                  <div class="ill"> <h2>1131 Sınıfı </h2></div>
                                                 
                                                </div>
                                              </div>
                        <div class="row mt-5">
                            Dökümanlar Burada Görüntülenecek.
                        </div>
                </div>
            
                            </div>
                        
                            </div>
                            <div id="sayfa" class="col-md-12" style="background-color:rgb(114, 194, 247);border-radius: 255px 25px 225px 25px/25px 225px 25px 255px; width: 100%;height: 500px; display:none">
               
                                <div style="margin-top:20px">
                                            
                <div style="margin-top:20px; margin-left:25px">
                                <div class="row">
                                                <div class="col-md-12" style="text-align: center">
                                                  <div class="ill"> <h2>1142 Sınıfı </h2></div>
                                                 
                                                </div>
                                              </div>
                        <div class="row mt-5">
                            Dökümanlar Burada Görüntülenecek.
                        </div>
                </div>
            
                                </div>
                            
                                </div>
                                <div id="sayfa" class="col-md-12" style="background-color:rgb(114, 194, 247);border-radius: 255px 25px 225px 25px/25px 225px 25px 255px; width: 100%;height: 500px; display:none">
               
                                    <div style="margin-top:20px">
                                         
                <div style="margin-top:20px; margin-left:25px">
                                <div class="row">
                                                <div class="col-md-12" style="text-align: center">
                                                  <div class="ill"> <h2>1139 Sınıfı </h2></div>
                                                 
                                                </div>
                                              </div>
                        <div class="row mt-5">
                            Dökümanlar Burada Görüntülenecek.
                        </div>
                </div>
            
                                    </div>
                                
                                    </div>
    </div>

    

    <div id="footer" style="height:100px">
        
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"    ></script>

