<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Profilim</title>
  </head>
  <body >
    <div class="container " >
      <div class="row mt-5">
        <div class="col-md-4"></div>
        <div class="col-md-4"> <h1 style="text-align:center">Profilim</h1></div>
        <div class="col-md-4"></div>
       </div>
      <div class="row mt-4">

        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card" style="text-align: center" >
              <div style="margin-top:10px">
                <img style="width: 250px; height: 250px; border:3px solid #333;border-radius: 80%;" src="https://st2.depositphotos.com/3400509/12022/v/950/depositphotos_120221752-stock-illustration-black-and-white-woman-avatar.jpg" class="card-img-top " >
              </div>  <div class="card-body">
                  <b> Ceyda istanbullu </b>
                  </div>
                  <div class="card-footer">
                    Bulundugu Sınıf Sayısı:
                    <br>
                    Üyelik Tarihi:  
                  </div>
                </div>
        </div>
        <div class="col-md-4"></div>

      
      </div>
    </div>
   

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" ></script>
  </body>
</html>