<div class="container">
    <div class="row mt-5" style="text-align: center">
        <div class="col-md-4"></div>
        
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">  <h2 style="color:red"> Giris Yap</h2></div>
                <div class="card-body">
                    <label for="" style="margin-right: 4px">Kullanıcı Adı :</label>
                    <input type="text"><br>
                    <label for="" style="margin-right: 40px"> Şifre :</label>
                    <input type="text"  type="password"  >
                </div>
                <div class="card-footer" style="text-align: center">
                    <div class="row">
                    <div class="col-md-4"><button style="border:none; background:none">
                        <a href="/register">  Kayıt Ol</a> 
                    </button></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4" style="color: red"><a href="/"> Giriş Yap </a></div>
                </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
<router-outlet></router-outlet>